.container {
    width: 60%;
    margin: auto;
    padding: 20px;
}

.link {
    background-color: var(--primary);
    color: white;
    border-radius: 20px;
    transition: 0.5s;
    text-decoration: none;
    margin: 20px;
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 20px;
    position: relative;
    vertical-align: top;
}

.text {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.link:hover {
    text-decoration: none;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 80%;
        margin: auto;
    }
}