.btn {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    outline: none;
    color: #fff;
    background: var(--primary);
    border: 1px solid var(--primary);
    cursor: pointer;
    position: relative;
    border-radius: 100px;
    transition: 0.3s ease-in-out;
    height: 38px;
    text-align: center;
    font-weight: bold;
}

.btn:hover {
    background: white;
    color: var(--primary);
}

.btn:disabled {
    background: lightgray;
    filter: none;
    color: white;
}