.container {
    padding: 20px;
}

.error {
    color: red;
    line-height: 19px;
}

.label {
    font-weight: bold;
}

.split {
    display: flex;
}

.part {
    width: 50%;
}

.img {
    width: 100%;
    height: auto;
}