:root {
    --primary: #F18A53;
    --primaryHover: #dd7339;
    --secondary: #D60B55;
    --textColor: rgb(20, 20, 20);
    --background: #FCFCFC;
    --background2: #FCFCFC;
    --font-size: 16px;
    --gradient: to bottom, 0 white 50% white 100% #F18A53
}

@font-face {
    font-family: "customFont";
    src: local('customFont'), url("/Montserrat-Regular") format("truetype");
}

html,
body,
#__next,
.app {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    font-family: 'customFont', sans-serif;
    color: var(--textColor);
    font-size: var(--font-size);
}

body {
    background: var(--background);
}

.body-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#__next {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

img {
    max-width: 100%;
}

a {
    color: var(--primary);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}